// * {
// 	box-sizing: border-box;
// 	margin: 0;
// }

body {
	font-size: 16px;
	height: 100%;
	background: black;
}
// .wrapper {
// }
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}

// h1 {
// }

// h2 {
// }

// h3 {
// }

// h4 {
// }

// h5 {
// }

// h6 {
// }

p {
	color: white;
}
// ul,
// ol,
// a {
// }

// ol {
// 	li {
// 	}
// }

// a {
// }
// .active {
// }

// span {
// }

// header {
// }
